HF_HOME_HOST=D:/G-Publish-Plugins/G_UEPluginDev_EmbodiedSpaceStudio/KimodoBridge/.cache/huggingface
HOST_USER=richi
SERVER_PORT=7860
TEXT_ENCODER_BASE_MODEL_HOST=D:/G-Publish-Plugins/G_UEPluginDev_EmbodiedSpaceStudio/KimodoBridge/text-encoders/McGill-NLP/LLM2Vec-Meta-Llama-3-8B-Instruct-mntp
TEXT_ENCODER_ADAPTER_HOST=D:/G-Publish-Plugins/G_UEPluginDev_EmbodiedSpaceStudio/KimodoBridge/text-encoders/McGill-NLP/LLM2Vec-Meta-Llama-3-8B-Instruct-mntp-supervised
TEXT_ENCODER_MNTP_ADAPTER_HOST=D:/G-Publish-Plugins/G_UEPluginDev_EmbodiedSpaceStudio/KimodoBridge/text-encoders/McGill-NLP/LLM2Vec-Meta-Llama-3-8B-Instruct-mntp-adapter
UE_BRIDGE_HOST_PORT=18027
